<!DOCTYPE html>

<html lang="pt">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Seja bem vindo ao novo</title>
    </head>
    <body>
        <image src="{{url_for('static', filename='logo_CSC_small.png')}}" class="center" alt="logotipo do CSC" widht="150px" height="150px">
        <h1> Site em construção . . . </h1>
        <br>
        <!-- {% for contrato in contratos %}
            <tr>
                <td>{{ contrato.contrato }}</td>
                <td>{{ contrato.fornecedor }}</td>
                <td>{{ contrato.objeto }}</td>
                <td>{{ contrato.valor }}</td>
                <td>{{ contrato.mes }}</td>
            </tr>
        {% endfor %} -->
    </body>
</html>