{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="on" class="form-control" name="email" placeholder="csc@metrosp.com.br" type="text" autofocus required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="senha" placeholder="senha: csc" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Logar</button>
    </form>
{% endblock %}